In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

:

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR

In [3]:
import warnings

In [4]:
df = pd.read_csv('./data/stud.csv')

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Use all other features other than math_score to predict math_score

In [33]:
X = df.drop('math_score',axis=1)

In [34]:
y = df['math_score']

In [44]:
numerical_features = X.select_dtypes(exclude='object').columns
categorical_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split

scaler = StandardScaler()
hotEncoder = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("hotEncoder",hotEncoder,categorical_features),
        ("scaler",scaler,numerical_features)
    ]
)

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=101,test_size=.2)

In [46]:
X_train = preprocessor.fit_transform(X_train)

In [47]:
X_test = preprocessor.transform(X_test)

In [48]:
X_train.shape

(800, 19)

In [49]:
X_test.shape

(200, 19)

In [67]:
def evaluateModel(model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test,y_pred)
    mse = mean_squared_error(y_test,y_pred)
    rmse = np.sqrt(mse)
    return mae,mse,rmse

In [78]:
from sklearn.tree import DecisionTreeRegressor

models = {
    "Linear Regression":LinearRegression(),
    "Decision Tree": DecisionTreeRegressor()
}

model_list = []
rmse_list = []

for i in range(len(models)):
    model = list(models.values())[i]
    mae,mse,rmse = evaluateModel(model)
    print("\n",list(models.keys())[i],"=> MAE:",mae,"MSE:",mse,"RMSE:",rmse)
    model_list.append(list(models.keys())[i])
    rmse_list.append(rmse)

 Linear Regression => MAE: 4.29412109375 MSE: 28.749390754699707 RMSE: 5.361845834663629

 Decision Tree => MAE: 6.07 MSE: 56.15 RMSE: 7.493330367733695